.thumbnail {
	background-image: url("../images/fondocompeticiones.png");
}

.caption {
	color: white !important;
}

.form-group {
	padding-bottom: 50px;
}

.subidafichero	{
	position: relative;
	margin-bottom: 10px;
}

.btn-file	{
	max-width: none;
	width: 102px;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 1;
}

.ficheros {
	position: absolute;
	top: 3px;
	left: 0px;
	text-align: left;
	z-index: 0;
}